<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
  <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
  <property name="url" value="jdbc:mysql://localhost:3306/hospital"/>
  <property name="username" value="root"/>
  <property name="password" value="123456"/> 
  </bean>  
  
  <bean id="mySessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
  <property name="dataSource" ref="ds"/>
  <property name="mappingResources" >
  <list>  
  <value>Appointment.hbm.xml</value>
  </list>
  </property>
  <property name="hibernateProperties">
  <props>
  <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
  <prop key="show_sql">true</prop>
  <prop key="hibernate.hbm2ddl.auto">update</prop>
  </props> 
  </property>
  </bean>   
   
  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
  <property name="dataSource" ref="ds"/>  
    <property name="annotatedClasses">
        <list>
        	<value>hibernatebean.Doctor</value>
            <value>hibernatebean.DoctorLogin</value>            
        </list>
    </property>
    <property name="hibernateProperties">
  <props>
  <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
  <prop key="show_sql">true</prop>
  <prop key="hibernate.hbm2ddl.auto">update</prop>
  </props> 
  </property>  
    </bean>
   
  <bean id="templateOne" class="org.springframework.orm.hibernate3.HibernateTemplate">
	  <constructor-arg>
	  <ref bean="mySessionFactory"/>
	   </constructor-arg>   
  </bean> 
  
  <bean id="templateTwo" class="org.springframework.orm.hibernate3.HibernateTemplate">
	  <constructor-arg>
	  <ref bean="sessionFactory"/>
	  </constructor-arg>
  </bean> 
  
  <bean id="hibernateTransactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
  
  
  <bean id="a" class="dao.AppointmentDao">
  <property name="ht" ref="templateOne"></property>  
  </bean>	
  
  <bean id="doc" class="dao.DoctorDao">
  <property name="ht" ref="templateTwo"></property>  
  </bean>	
  
  <bean id="docLogin" class="dao.DoctorLoginDao">
  <property name="ht" ref="templateTwo"></property>  
  </bean>	
  
</beans>
